.card {
  align-content: flex-start;
  background: $overlay;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 90%;

  .card__img {
    display: inline-block;
    max-width: 90%;
    text-align: center;
    transition: all 0.3s ease;
    transition-duration: 0.4s;
    transition-property: transform;
  }
  .card__title {
    color: $grey--dark;
    margin: 0 auto;
    max-width: 90%;
    text-transform: uppercase;

    a {
      color: inherit;
    }
  }
  .card__content {
    color: $grey--dark;
    font-family: $subtitle;
  }
}
