#Hero {
  height: 28rem;
  padding-bottom: 19rem;

  @media (max-width: 768px) {
    background: url("../../Assets/Images/nezmah-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5.6rem;
    object-fit: fill;
  }

  .video {
     @media (min-width: 576px) and (max-width: 767px) {
      height: 67vh;
      object-fit: fill;
    }

    @media(min-width: 768) and( max-width:991px){
      height: 96vh;
      object-fit: fill;
    }
    @media (min-width: 922px) {
      height: 110vh;
      object-fit: fill;
    }
    object-fit: none;
    margin-top: -5.6rem;
    top: 0;
    z-index: 0;
  }

  .hero__title {
    margin-top: 5rem;
    @media (min-widht: 577px) {
      margin-top: 8rem;
    }

    .display {
      color: $yellow;
      font-family: $display;
      font-size: 4rem;
      font-weight: bold;
      letter-spacing: 10px;
      mix-blend-mode: lighten;
      opacity: 10;

      @media (max-width: 320px) {
        font-size: 3rem;
      }

       @media (min-width: 600px) and (max-width: 768px) {
        font-size: 6rem;
      }

      @media (min-width: 769px) {
        font-size: 8rem;
      }
    }

    .subtitle {
      color: $blue;
      font-family: $subtitle;
      font-weight: 600;
      mix-blend-mode: lighten;
    }
  }
}
