// colors
$background: rgba(110,193,228,0.15);
$blue: #6ec1e4;
$grey: rgba(2,18,45,0.71);
$grey--dark: #bababa;
$overlay: rgba(2,18,45,0.88);
$yellow: #dfc15e;

// fonts
$display: 'Kanit', Sans-serif;
$subtitle: 'roboto', 'Sans-serif';
$serif: 'Playfair Display','Sans-serif';
$nunito: 'Nunito sans', Sans-serif;
